<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>radio1</key>
			<string>Radio 1</string>
		</dict>
		<dict>
			<key>1xtra</key>
			<string>1xtra</string>
		</dict>
		<dict>
			<key>radio2</key>
			<string>Radio 2</string>
		</dict>
		<dict>
			<key>radio3</key>
			<string>Radio 3</string>
		</dict>
		<dict>
			<key>radio4</key>
			<string>Radio 4 FM</string>
		</dict>
		<dict>
			<key>5live</key>
			<string>Radio 5 live</string>
		</dict>
		<dict>
			<key>5livesportsextra</key>
			<string>Radio 5 live sports extra</string>
		</dict>
		<dict>
			<key>6music</key>
			<string>6 Music</string>
		</dict>
		<dict>
			<key>radio7</key>
			<string>Radio 7</string>
		</dict>
		<dict>
			<key>asiannetwork</key>
			<string>Asian Network</string>
		</dict>
		<dict>
			<key>worldservice</key>
			<string>World Service</string>
		</dict>
	</array>
</dict>
</plist>
