<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmpSizes</key>
	<array>
		<dict>
			<key>label</key>
			<string>Minimized</string>
			<key>size</key>
			<string>{352, 35}</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Normal</string>
			<key>size</key>
			<string>{352, 233}</string>
		</dict>
		<dict>
			<key>label</key>
			<string>RealPlayer</string>
			<key>size</key>
			<string>{512, 243}</string>
		</dict>
	</array>
	<key>DefaultEmpOrigin</key>
	<string>{200, 200}</string>
	<key>DefaultAlwaysOnTop</key>
	<true/>
	<key>DefaultEmpSize</key>
	<integer>1</integer>
	<key>DefaultEmpMinimized</key>
	<false/>
	<key>DefaultSendToTwitter</key>
	<false/>
	<key>DefaultTwitterUsername</key>
	<string></string>
	<key>DefaultQuality</key>
	<integer>1</integer>
	<key>DefaultStation</key>
	<integer>7</integer>
	<key>Stations</key>
	<array>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r1.ram</string>
			<key>empKey</key>
			<string>bbc_radio_one</string>
			<key>key</key>
			<string>radio1</string>
			<key>label</key>
			<string>Radio 1</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r1x.ram</string>
			<key>empKey</key>
			<string>bbc_1xtra</string>
			<key>key</key>
			<string>1xtra</string>
			<key>label</key>
			<string>1xtra</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r2.ram</string>
			<key>empKey</key>
			<string>bbc_radio_two</string>
			<key>key</key>
			<string>radio2</string>
			<key>label</key>
			<string>Radio 2</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio3/ram/r3g2.ram</string>
			<key>empKey</key>
			<string>bbc_radio_three</string>
			<key>key</key>
			<string>radio3</string>
			<key>label</key>
			<string>Radio 3</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r4.ram</string>
			<key>empKey</key>
			<string>bbc_radio_four</string>
			<key>key</key>
			<string>radio4</string>
			<key>label</key>
			<string>Radio 4 FM</string>
			<key>outlet</key>
			<string>fm</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r5l.ram</string>
			<key>empKey</key>
			<string>bbc_radio_five_live</string>
			<key>key</key>
			<string>fivelive</string>
			<key>label</key>
			<string>Radio 5 live</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r5lsp.ram</string>
			<key>empKey</key>
			<string>bbc_radio_five_live_sports_extra</string>
			<key>key</key>
			<string>5livesportsextra</string>
			<key>label</key>
			<string>Radio 5 live sports extra</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/6music/ram/dsatg2.ram</string>
			<key>empKey</key>
			<string>bbc_6music</string>
			<key>key</key>
			<string>6music</string>
			<key>label</key>
			<string>6 Music</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/r7.ram</string>
			<key>empKey</key>
			<string>bbc_7</string>
			<key>key</key>
			<string>radio7</string>
			<key>label</key>
			<string>Radio 7</string>
		</dict>
		<dict>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/radio/listen/live/ran.ram</string>
			<key>empKey</key>
			<string>bbc_asian_network</string>
			<key>key</key>
			<string>asiannetwork</string>
			<key>label</key>
			<string>Asian Network</string>
		</dict>
		<dict>
			<key>only_real_available</key>
			<integer>1</integer>
			<key>realStreamUrl</key>
			<string>http://www.bbc.co.uk/worldservice/meta/tx/nb/live_eneuk_au_nb.ram</string>
			<key>empKey</key>
			<string>bbc_world_service</string>
			<key>key</key>
			<string>worldservice</string>
			<key>label</key>
			<string>World Service</string>
		</dict>
	</array>
</dict>
</plist>
