<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultStation</key>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>key</key>
		<string>bbc_6music</string>
		<key>label</key>
		<string>6 Music</string>
		<key>blurb</key>
		<string>Closer to the music that you love.</string>
	</dict>
	<key>Stations</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>key</key>
			<string>radio1</string>
			<key>label</key>
			<string>Radio 1</string>
			<key>blurb</key>
			<string>The best new music and entertainment.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>key</key>
			<string>bbc_1xtra</string>
			<key>label</key>
			<string>1xtra</string>
			<key>blurb</key>
			<string>Love black music, love 1Xtra.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>key</key>
			<string>radio2</string>
			<key>label</key>
			<string>Radio 2</string>
			<key>blurb</key>
			<string>The most listened-to station in the UK.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>key</key>
			<string>radio3</string>
			<key>label</key>
			<string>Radio 3</string>
			<key>blurb</key>
			<string>Live music and the arts.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>key</key>
			<string>radio4fm</string>
			<key>label</key>
			<string>Radio 4 FM</string>
			<key>blurb</key>
			<string>UK Radio Station of the Year 2008.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>key</key>
			<string>fivelive</string>
			<key>label</key>
			<string>Radio 5 live</string>
			<key>blurb</key>
			<string>The UK&apos;s home of live news and live sport.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>key</key>
			<string>5livesportsextra</string>
			<key>label</key>
			<string>Radio 5 live sports extra</string>
			<key>blurb</key>
			<string>More live sport. Pure live sport.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>key</key>
			<string>bbc_6music</string>
			<key>label</key>
			<string>6 Music</string>
			<key>blurb</key>
			<string>Closer to the music that you love.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>key</key>
			<string>bbc7</string>
			<key>label</key>
			<string>Radio 7</string>
			<key>blurb</key>
			<string>Unadulterated entertainment.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>key</key>
			<string>asiannetwork</string>
			<key>label</key>
			<string>Asian Network</string>
			<key>blurb</key>
			<string>The New Sound of Asian Britain.</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>key</key>
			<string>worldservice</string>
			<key>label</key>
			<string>World Service</string>
			<key>blurb</key>
			<string>Impartial news and reports from around the world.</string>
		</dict>
	</array>
</dict>
</plist>
